h1 {
	font-family: 'Montserrat', sans-serif; 
	text-align: center; 
	color:#333;
}

div { 
	font-family: 'Montserrat', sans-serif; 
	background-color: #ffffff; 
	color:#999; 
	text-align: center;
}

svg { 
	border: solid #ccc 1px; 
	background-image: url("worldmap.png"); 
	background-size: 100% 100%; 
	background-color: #111;
}

text { 
	fill: white;
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
   border: none;
   font-size: 24pt;
   font-family: 'Montserrat', sans-serif;
   color:#a33;
}

option{
   text-align: right;
}

.labels { 
	font-size: 6pt; 
	opacity: 0.5; 
	fill: #fff;
}